<?xml version="1.0"?>
<config>
	  <tabs>
		<mymodule translate="label" module="mymodule">
            <label>MyModule</label>
            <sort_order>0</sort_order>
        </mymodule>
	  </tabs>
	  <sections>
		<mymodule  translate="label" module="mymodule">                    
		<label>MyModule</label>
		<tab>mymodule</tab>
		<frontend_type>text</frontend_type>
		<sort_order>0</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <mymodule translate="label"> 
					  <label>MyModule</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <mymodule translate="label">
                            <label>MyModule</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>MyModule</comment>
                          </mymodule>
					   </fields>
					   </mymodule>
					</groups>
		</mymodule>
	  </sections>
</config>
